.App {
  text-align: center;
  padding: 1em;
}

.slider {
  padding: 0.75em 1em;
  .fab {
    margin-right: 20px;
    background-size: cover;
  }

  &.white .fab {
    &[data-symbols="1"]{
      background-image: url('./themes/default/assets/images/white.svg');

    }
  }
  &.blue .fab {
    &[data-symbols="1"]{
      background-image: url('./themes/default/assets/images/blue.svg');
      
    }
  }
  &.black .fab {
    &[data-symbols="1"]{
      background-image: url('./themes/default/assets/images/black.svg');

    }
  }
  &.red .fab {
    &[data-symbols="1"]{
      background-image: url('./themes/default/assets/images/red.svg');
    }
  }
  &.green .fab {
    &[data-symbols="1"]{
      background-image: url('./themes/default/assets/images/green.svg');
    }
  }
}



.deckSegment button, .deckSegment input{
  padding:1em 2em;
  margin: 0 0.5em;
  color: black;

}
